<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Extractor</title>
    <!--<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='\static\style.css') }}">-->
    <style>
        body{
            animation: fadeInAnimation ease 2s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        @keyframes fadeInAnimation {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    </style>
</head>
<body>
    <div class="fadein">
        <center>
        <h1>Text Extractor</h1>
        <div class="options">
            <h2>select and option:</h2>
            <a href="/image_extractor"><button>Image Extractor</button></a>
            <a href="/video_extractor"><button>Video Extractor</button></a>
        </div>
        </center>
    </div>
</body>
</html>